<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Mern Book</a>
        <ul>
            <li class="header-link"><a href="/authors">Author Page</a></li>
            <li class="header-link"><a href="/authors/new">Create New Author</a></li>
            <li class="header-link"><a href="/books">Books</a></li>
            <li class="header-link"><a href="/books/new">Create New Book</a></li>
        </ul>
    </nav>
</header>